.custom-buttom-login {
    background-color: rgb(93, 93, 224);
    width: 110px;
    height: 35px;
    border-radius: 10px;
    color: white;
}

.custom-buttom-login1 {
    border-color: black;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    margin-right: 5px;
}

.nav-custom-bg {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .nav-custom-bg {
        width: 100%;
    }

    .custom-buttom-login {
        width: 100%;
    }

    .custom-buttom-login1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 20px;
    }

    .btlg {
        width: 100%;
        height: 100%;
    }

    .just {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 990px) {
    .custom-buttom-login {
        width: 100%;
    }

    .custom-buttom-login1 {
        width: 100%;
        margin-bottom: 10px;
    }
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Asset/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.row {
    width: 100%;
}

.home-text {
    padding-left: 100px;
    font-size: 28px;
}

.footer-wrapper {
    background-color: rgb(255, 255, 255);
    min-height: 50px;
}

.btlg {
    align-items: center;
    justify-content: center;
    display: flex;
}

.footwe {
    opacity: 50%;
}

.footer-copyright {
    opacity: 50%;
    padding-left: 12.8%;
}